<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Kind</key>
        <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
        <key>Identifier</key>
        <string>com.apple.dt.unit.AppLoverBaseProject</string>
        <key>Ancestors</key>
        <array>
            <string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
            <string>com.apple.dt.unit.cocoaTouchApplicationBase</string>
        </array>
        <key>Concrete</key>
        <true/>
        <key>Description</key>
        <string>This template provides a starting point for an application that uses a base AppLover Project</string>
        <key>SortOrder</key>
        <integer>1</integer>
        <key>Definitions</key>
        <dict>
            <key>AppDelegate.swift</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>ConfigFiles</string>
                </array>
                <key>Path</key>
                <string>ConfigFiles/AppDelegate.swift</string>
                <key>SortOrder</key>
                <integer>99</integer>
            </dict>
            <key>AppCoordynator.swift</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>ConfigFiles</string>
                </array>
                <key>Path</key>
                <string>ConfigFiles/AppCoordynator.swift</string>
                <key>SortOrder</key>
                <integer>99</integer>
            </dict>
            <key>KeychainManager.swift</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>ConfigFiles</string>
                </array>
                <key>Path</key>
                <string>ConfigFiles/KeychainManager.swift</string>
                <key>SortOrder</key>
                <integer>99</integer>
            </dict>
            <key>AppStrings.swift</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>ConfigFiles</string>
                </array>
                <key>Path</key>
                <string>ConfigFiles/AppStrings.swift</string>
                <key>SortOrder</key>
                <integer>99</integer>
            </dict>
            <key>Info.plist</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>ConfigFiles</string>
                </array>
                <key>Path</key>
                <string>ConfigFiles/Info.plist</string>
                <key>SortOrder</key>
                <integer>99</integer>
            </dict>
            <key>Localizable.strings</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>ConfigFiles</string>
                </array>
                <key>Path</key>
                <string>ConfigFiles/Localizable.strings</string>
                <key>SortOrder</key>
                <integer>99</integer>
            </dict>
            <key>LaunchScreen.storyboard</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>ConfigFiles</string>
                </array>
                <key>Path</key>
                <string>ConfigFiles/LaunchScreen.storyboard</string>
                <key>SortOrder</key>
                <integer>99</integer>
            </dict>
            <key>AppNavigationViewController.swift</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>ConfigFiles</string>
                    <string>AppBaseControllers</string>
                </array>
                <key>Path</key>
                <string>ConfigFiles/AppBaseControllers/AppNavigationViewController.swift</string>
                <key>SortOrder</key>
                <integer>99</integer>
            </dict>
            <key>AppViewController.swift</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>ConfigFiles</string>
                    <string>AppBaseControllers</string>
                </array>
                <key>Path</key>
                <string>ConfigFiles/AppBaseControllers/AppViewController.swift</string>
                <key>SortOrder</key>
                <integer>99</integer>
            </dict>
            <key>AppColors.swift</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>ConfigFiles</string>
                    <string>AppLayout</string>
                </array>
                <key>Path</key>
                <string>ConfigFiles/AppLayout/AppColors.swift</string>
                <key>SortOrder</key>
                <integer>99</integer>
            </dict>
            <key>AppFonts.swift</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>ConfigFiles</string>
                    <string>AppLayout</string>
                </array>
                <key>Path</key>
                <string>ConfigFiles/AppLayout/AppFonts.swift</string>
                <key>SortOrder</key>
                <integer>99</integer>
            </dict>
            <key>AppIcons.swift</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>ConfigFiles</string>
                    <string>AppLayout</string>
                </array>
                <key>Path</key>
                <string>ConfigFiles/AppLayout/AppIcons.swift</string>
                <key>SortOrder</key>
                <integer>99</integer>
            </dict>
            <key>Assets.xcassets</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>Resources</string>
                </array>
                <key>Path</key>
                <string>Resources/Assets.xcassets</string>
                <key>SortOrder</key>
                <integer>99</integer>
            </dict>
            <key>SplashScreenViewController.swift</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>Splash</string>
                </array>
                <key>Path</key>
                <string>Splash/SplashScreenViewController.swift</string>
                <key>SortOrder</key>
                <integer>99</integer>
            </dict>
            <key>LoginViewController.swift</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>Login</string>
                </array>
                <key>Path</key>
                <string>Login/LoginViewController.swift</string>
                <key>SortOrder</key>
                <integer>99</integer>
            </dict>
            <key>LoginPresenter.swift</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>Login</string>
                </array>
                <key>Path</key>
                <string>Login/LoginPresenter.swift</string>
                <key>SortOrder</key>
                <integer>99</integer>
            </dict>
            <key>LoginRouter.swift</key>
            <dict>
                <key>Group</key>
                <array>
                    <string>Login</string>
                </array>
                <key>Path</key>
                <string>Login/LoginRouter.swift</string>
                <key>SortOrder</key>
                <integer>99</integer>
            </dict>
        </dict>
        <key>Nodes</key>
        <array>
            <string>AppDelegate.swift</string>
            <string>AppCoordynator.swift</string>
            <string>KeychainManager.swift</string>
            <string>AppStrings.swift</string>
            <string>Info.plist</string>
            <string>Localizable.strings</string>
            <string>LaunchScreen.storyboard</string>
            <string>AppNavigationViewController.swift</string>
            <string>AppViewController.swift</string>
            <string>AppColors.swift</string>
            <string>AppFonts.swift</string>
            <string>AppIcons.swift</string>
            <string>Assets.xcassets</string>
            <string>SplashScreenViewController.swift</string>
            <string>LoginViewController.swift</string>
            <string>LoginPresenter.swift</string>
            <string>LoginRouter.swift</string>
        </array>
        <key>Options</key>
        <array>
            <dict>
                <key>Identifier</key>
                <string>hasCOS</string>
                <key>Name</key>
                <string>Include AppSounds</string>
                <key>NotPersisted</key>
                <false/>
                <key>SortOrder</key>
                <integer>1</integer>
                <key>Type</key>
                <string>checkbox</string>
                <key>Default</key>
                <string>true</string>
                <key>Units</key>
                <dict>
                    <key>true</key>
                    <dict>
                        <key>Nodes</key>
                        <array>
                            <string>AppSounds.swift</string>
                            <string>click.wav</string>
                            <string>click2.wav</string>
                            <string>cyk.wav</string>
                            <string>gong.wav</string>
                            <string>hit.wav</string>
                            <string>hit2.wav</string>
                            <string>morse.wav</string>
                            <string>pyk.wav</string>
                            <string>splash.wav</string>
                            <string>splash2.wav</string>
                            <string>swipe.wav</string>
                            <string>swipe2.wav</string>
                            <string>swipe3.wav</string>
                            <string>teleport.wav</string>
                            <string>ticTicTic.wav</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>AppSounds.swift</key>
                            <dict>
                                <key>Group</key>
                                <array>
                                    <string>Resources</string>
                                </array>
                                <key>Path</key>
                                <string>Resources/AppSounds.swift</string>
                                <key>SortOrder</key>
                                <integer>99</integer>
                            </dict>
                            <key>click.wav</key>
                            <dict>
                                <key>Group</key>
                                <array>
                                    <string>Resources</string>
                                    <string>Sounds</string>
                                </array>
                                <key>Path</key>
                                <string>Resources/Sounds/click.wav</string>
                                <key>SortOrder</key>
                                <integer>99</integer>
                            </dict>
                            <key>click2.wav</key>
                            <dict>
                                <key>Group</key>
                                <array>
                                    <string>Resources</string>
                                    <string>Sounds</string>
                                </array>
                                <key>Path</key>
                                <string>Resources/Sounds/click2.wav</string>
                                <key>SortOrder</key>
                                <integer>99</integer>
                            </dict>
                            <key>cyk.wav</key>
                            <dict>
                                <key>Group</key>
                                <array>
                                    <string>Resources</string>
                                    <string>Sounds</string>
                                </array>
                                <key>Path</key>
                                <string>Resources/Sounds/cyk.wav</string>
                                <key>SortOrder</key>
                                <integer>99</integer>
                            </dict>
                            <key>gong.wav</key>
                            <dict>
                                <key>Group</key>
                                <array>
                                    <string>Resources</string>
                                    <string>Sounds</string>
                                </array>
                                <key>Path</key>
                                <string>Resources/Sounds/gong.wav</string>
                                <key>SortOrder</key>
                                <integer>99</integer>
                            </dict>
                            <key>hit.wav</key>
                            <dict>
                                <key>Group</key>
                                <array>
                                    <string>Resources</string>
                                    <string>Sounds</string>
                                </array>
                                <key>Path</key>
                                <string>Resources/Sounds/hit.wav</string>
                                <key>SortOrder</key>
                                <integer>99</integer>
                            </dict>
                            <key>hit2.wav</key>
                            <dict>
                                <key>Group</key>
                                <array>
                                    <string>Resources</string>
                                    <string>Sounds</string>
                                </array>
                                <key>Path</key>
                                <string>Resources/Sounds/hit2.wav</string>
                                <key>SortOrder</key>
                                <integer>99</integer>
                            </dict>
                            <key>morse.wav</key>
                            <dict>
                                <key>Group</key>
                                <array>
                                    <string>Resources</string>
                                    <string>Sounds</string>
                                </array>
                                <key>Path</key>
                                <string>Resources/Sounds/morse.wav</string>
                                <key>SortOrder</key>
                                <integer>99</integer>
                            </dict>
                            <key>pyk.wav</key>
                            <dict>
                                <key>Group</key>
                                <array>
                                    <string>Resources</string>
                                    <string>Sounds</string>
                                </array>
                                <key>Path</key>
                                <string>Resources/Sounds/pyk.wav</string>
                                <key>SortOrder</key>
                                <integer>99</integer>
                            </dict>
                            <key>splash.wav</key>
                            <dict>
                                <key>Group</key>
                                <array>
                                    <string>Resources</string>
                                    <string>Sounds</string>
                                </array>
                                <key>Path</key>
                                <string>Resources/Sounds/splash.wav</string>
                                <key>SortOrder</key>
                                <integer>99</integer>
                            </dict>
                            <key>splash2.wav</key>
                            <dict>
                                <key>Group</key>
                                <array>
                                    <string>Resources</string>
                                    <string>Sounds</string>
                                </array>
                                <key>Path</key>
                                <string>Resources/Sounds/splash2.wav</string>
                                <key>SortOrder</key>
                                <integer>99</integer>
                            </dict>
                            <key>swipe.wav</key>
                            <dict>
                                <key>Group</key>
                                <array>
                                    <string>Resources</string>
                                    <string>Sounds</string>
                                </array>
                                <key>Path</key>
                                <string>Resources/Sounds/swipe.wav</string>
                                <key>SortOrder</key>
                                <integer>99</integer>
                            </dict>
                            <key>swipe2.wav</key>
                            <dict>
                                <key>Group</key>
                                <array>
                                    <string>Resources</string>
                                    <string>Sounds</string>
                                </array>
                                <key>Path</key>
                                <string>Resources/Sounds/swipe2.wav</string>
                                <key>SortOrder</key>
                                <integer>99</integer>
                            </dict>
                            <key>swipe3.wav</key>
                            <dict>
                                <key>Group</key>
                                <array>
                                    <string>Resources</string>
                                    <string>Sounds</string>
                                </array>
                                <key>Path</key>
                                <string>Resources/Sounds/swipe3.wav</string>
                                <key>SortOrder</key>
                                <integer>99</integer>
                            </dict>
                            <key>teleport.wav</key>
                            <dict>
                                <key>Group</key>
                                <array>
                                    <string>Resources</string>
                                    <string>Sounds</string>
                                </array>
                                <key>Path</key>
                                <string>Resources/Sounds/teleport.wav</string>
                                <key>SortOrder</key>
                                <integer>99</integer>
                            </dict>
                            <key>ticTicTic.wav</key>
                            <dict>
                                <key>Group</key>
                                <array>
                                    <string>Resources</string>
                                    <string>Sounds</string>
                                </array>
                                <key>Path</key>
                                <string>Resources/Sounds/ticTicTic.wav</string>
                                <key>SortOrder</key>
                                <integer>99</integer>
                            </dict>
                        </dict>
                    </dict>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
